{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">I am a web developer and programmer .</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I am Saransh , just a curious boy having potential to fulfil its dreams. I'm a web developer and observer .
          If you have me an 🍨 i will share my coding stuffs with you .
        </p>
        <p>
          I loved to code and usually i code at night ! A secret only coder knows about. I'm currently pursuing
          Bachelor in Computer Application from Ranchi . I used to code and building myself to participate in this
          healthy competition in Computer Science field.
        </p>
        <p>
          I'm a python programmer and i am skilled in HTML , CSS , JavaScript , Node Js , Express Js , Postgres Database
          and in Core programming languages i am habitat with Python , C , C++ , Java ... And I'm able to sort ...
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
